{% extends 'base.html.twig' %}

{% block title %}Page Profile {% endblock %}
{% block body %}
    <div class="example-wrapper">
        <h3>Page Profile</h3>

        <ul>
            <li> FirstName :  {{app.user.firstName}} </li>
            <li> Name : {{app.user.name}} </li>
            <li> Email : {{app.user.email}} </li>
        </ul>

        <a href="{{ path("editUsers",{'id':app.user.id}) }}"> <button> Edit </button> </a>
        <hr>
        <u> Conference already voted </u>
        {% for conference in conferencevoted %}
            <li> {{ conference.name }}
            </li>
        {% endfor %}

        <u>Conference no voted </u>

        {% for conference in conferenceNoVoted %}
            <li> {{ conference.name }}
                {% for i in 1 .. NbEtoile %}

                    <a href="{{ path("oneVote",{'id':conference.id,'nbre':i }) }}"> <i class="material-icons">star_border</i> </a>

                {% endfor %}
            </li>
    {% endfor %}
    </div>
{% endblock %}