{% extends 'base.html.twig' %}

{% block title %} Page Admin {% endblock %}

{% block body %}
    <div class="example-wrapper">

        <div id="button_panel">
            <a href="{{ path("adminConference")}}"><button>  Conferences Manager  </button></a>
            <a href="{{ path("addConferences")}}"><button>  Add conference  </button></a>
            <br>
            <br>
            <a href="{{ path("adminUser")}}"><button>  User Manager </button></a>
            <a href="{{ path("addUsers")}}"><button> Add User </button></a>
        </div>

        <div>
            <h3> TOP 10 of conferences </h3>

            <ul class="listConference">
                {% for conference in conferences %}
                <li>
                    {{ conference.name }}
                            --
                    {{ conference.vote }}
                </li>
                {% endfor %}
            </ul>

        </div>

    </div>
{% endblock %}
