{% extends 'base.html.twig' %}

{% block title %}Page de recherche  {% endblock %}

{% block body %}


    <div class="example-wrapper">

        Page de recherche
        <form id="form_recherche" action="{{ path('resultSearchConference') }}" method="post">


            {{ form_label(form.name, 'Name (4 caract min) : ') }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'inputField','id':'nameSearchConference'}}) }}
            {{ form_help(form.name) }}

            {{ form_widget(form.submit, {'attr': {'class': 'boutonSubmit'}}) }}

        </form>
        <hr>
        <div id="printResult"> </div>


    </div>

{% endblock %}

{% block script_javascripts  %}
    <script>

        $("#form_recherche").submit(function(){
           var nameSearched =  $("#search_conference_name").val();

            var DATA = 'nameSearched=' + nameSearched;
            $.ajax({
                type: "POST",
                url: "{{ path('resultSearchConference')}}",
                data: DATA,
                cache: false,
                success: function(data){

                    if(data.length > 0){
                        var affichage = "<table>  <tr> <th> ID  </th>  <th> Name </th> </tr>";
                        for (var prop in data) {

                            affichage += "<tr> <td> " + data[prop].id + " </td>   <td> " + data[prop].name + " </td> </tr>";

                        }
                        affichage += "</table>";


                        $("#printResult")[0].innerHTML = affichage;
                    }else{
                        $("#printResult")[0].innerHTML = "Aucune conference ne correspond à votre recherche";
                    }
                    return false;
                }
            });
            return false;
        });


    </script>
{% endblock %}