{% extends 'base.html.twig' %}

{% block title %}Page Edit User  {% endblock %}

{% block body %}

    <div class="example-wrapper">

        <h3> Page edit User</h3>

        {{ form_start(form) }}

        {{ form_label(form.email, 'Email : ') }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'inputField'}}) }}
        {{ form_help(form.email) }}

        {{ form_label(form.password, 'Password : ') }}
        {{ form_errors(form.password) }}
        {{ form_widget(form.password, {'attr': {'class': 'inputField'}}) }}
        {{ form_help(form.password) }}

        {{ form_label(form.name, 'Name : ') }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'inputField'}}) }}
        {{ form_help(form.name) }}

        {{ form_label(form.firstName, 'Firstname : ') }}
        {{ form_errors(form.firstName) }}
        {{ form_widget(form.firstName, {'attr': {'class': 'inputField'}}) }}
        {{ form_help(form.firstName) }}

        {{ form_widget(form.submit, {'attr': {'class': 'boutonSubmit'}}) }}


        {{ form_end(form) }}


    </div>
{% endblock %}
